<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ajax library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    
    <h1>Sign Up</h2>
	
<form class="signup">
        <label for="email">email:</label>
        <input type="email" name="email" required placeholder="Put your em@il here. (required)"><br>
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" required placeholder="Put your first name within 15 charecters. (required)">
        <label for="middlename">Middle Name:</label>
        <input type="text" name="middlename" placeholder="Put your middle name within 15 charecters. (optional)">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" required placeholder="Put your last name within 15 charecters. (required)">
        <label for="nickname">Nick Name:</label>
        <input type="text" name="nickname" placeholder="Put your nick name within 15 charecters. (optional)">
        <label for="password">password:</label>
        <input type="password" name="password" required placeholder="Put your password within 15 charecters. (required)">
        <button>signup</button>
     </form>
	
</body>

</html>