<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to FirebaseRTC</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Ajax library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="chat.css">
</head>
<body onunload="mediaChat()">
<div id="buttons">

    <div class="select">
        <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
        <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
    </div>

    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    

    
    <button class="mdc-button mdc-button--raised" disabled id="createBtn">
        <i class="material-icons mdc-button__icon" aria-hidden="true">group_add</i>
        <span class="mdc-button__label">Create room</span>
    </button>
    <button class="mdc-button mdc-button--raised" disabled id="joinBtn">
        <i class="material-icons mdc-button__icon" aria-hidden="true">group</i>
        <span class="mdc-button__label">Join room</span>
    </button>
    <button class="mdc-button mdc-button--raised" disabled id="hangupBtn">
        <i class="material-icons mdc-button__icon" aria-hidden="true">close</i>
        <span class="mdc-button__label">Hangup</span>
    </button>
    
    <form id="searchProfile">
        <input type="search" name="searchProfile" id="profileSearchField">
        <button>Search</button>
    </form>
    <div id="addPeerSection">
        
    </div>

</div>

<div>
    <span id="currentRoom"></span>
</div>

<div id="alertMessage">
    <div id="alerText"></div>
    <div id="alerTimeRemaining"></div>
    <button>Cut</button>
</div>

<div id="videos">
    <video id="localVideo" autoplay playsinline></video>
</div>

<script src="/chat.bundle.js"></script>
<script>
    function mediaChat(){
        localStorage.setItem("closedVideoOrAudioCall", "yes")
    }
</script>
</body>
</html>