<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ajax library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>Profile</title>
</head>
<body>
    <article id="displayPosts">

    </article>
    <form action="" id="uploadProfilePic" enctype = "multipart/form-data">
    <input type="file" id="photo" name="profilePhoto"  accept=".jpg, .jpeg, .png">
    <button id="upload">upload</button>
    </form>
</body>

<script defer src="/profilePersonal.bundle.js"></script>
</html>